* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}
body, html {
    height: 300%;
    scroll-behavior: smooth;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 40px;
    background: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.nav-links li a:hover {
    color: white;
}

.banner {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    text-align: center;
}

.banner h1 {
    font-size: 3rem;
    margin-bottom: 15px;
    text-shadow: 2px 2px 6px black;
}

.banner p {
    font-size: 1.2rem;
    text-shadow: 1px 1px 4px black;
}

.about {
    height: 100vh;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: black;
    text-align: center;
}